@use '../../scss/utils' as u;

.product-list {
  padding: u.rem(24) u.rem(32);
  background: var(--grey);

  &__heading {
    margin-block-end: u.rem(20);
  }
}

.table-body {
  &__table {
    margin-block-start: u.rem(32);
    border-radius: u.rem(20);
    padding: u.rem(20) u.rem(20);
    border: 1px solid var(--color-border);

    // > .row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: u.rem(12) u.rem(20);
    // justify-content: start;

    //   border-bottom: 1px dashed var(--color-border);
    // }

    .heading {
      font-size: u.rem(20);
      font-weight: 600;
    }

    .product-name {
      cursor: pointer;
      color: var(--blue-color-hover);
      text-decoration: underline;
      //   &:hover {
      //     text-decoration: underline;
      //   }
    }
  }
}

.buttons-container {
  display: flex;
  gap: u.rem(8);
  justify-content: flex-start;
  align-items: center;
}
